.renseignement {
  background: black;
  color: #F6F6F6;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 10px;
  font-weight: 300;
}
.renseignement .alls {
  margin-bottom: 5px;
}
@media (min-width: 900px) {
  .renseignement .alls {
    display: flex;
  }
}
@media (min-width: 900px) {
  .renseignement {
    flex-direction: row-reverse;
    justify-content: end;
    gap: 20px;
    align-items: center;
    padding-right: 2%;
  }
}
.renseignement .foot {
  font-family: "Shrikhand";
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 15px;
  font-style: italic;
  font-weight: 700;
}
@media (min-width: 900px) {
  .renseignement .foot {
    text-align: end;
  }
}
.renseignement .renseigne {
  margin-top: 10px;
}
@media (min-width: 900px) {
  .renseignement .renseigne {
    margin-right: 15px;
  }
}
.renseignement .spoon {
  padding-left: 10px;
  padding-bottom: 15px;
}
@media (min-width: 900px) {
  .renseignement .spoon {
    margin-right: 15px;
  }
}
.renseignement .hand {
  padding-left: 10px;
  padding-top: 15px;
}
@media (min-width: 900px) {
  .renseignement .hand {
    margin-right: 15px;
  }
}
.renseignement .mention {
  margin-top: 10px;
}
@media (min-width: 900px) {
  .renseignement .mention {
    margin-right: 15px;
  }
}
.renseignement .contacte {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}
@media (min-width: 900px) {
  .renseignement .contacte {
    margin-right: 15px;
  }
} /* ... */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.entete {
  width: 100%;
  text-align: center;
  background: #ffffff;
  margin-bottom: 10px;
  color: black;
  padding: 15px;
  font-family: "shrikand";
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 #d9d9d9;
}
@media (min-width: 900px) {
  .entete {
    width: 100%;
  }
}
.entete .logo {
  width: 162px;
  margin: auto;
  object-fit: cover;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
  margin-top: 40vh;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    z-index: 1000;
  }
  0%, 85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ... */
body {
  font-family: "Roboto", "sans-serif";
  width: 100%;
  padding: 0;
  margin: 0;
}

.reservation {
  width: 100%;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 10px;
}
.reservation .lieu {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #d9d9d9;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.reservation .lieu .search {
  text-align: center;
  background: #d9d9d9;
  border: none;
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.reserver {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
@media (min-width: 900px) {
  .reserver {
    text-align: center;
  }
}

.decouvrir {
  font-size: 15px;
  text-align: center;
  margin: 20px;
}

.lien {
  margin-top: 15px;
  margin-bottom: 15px;
}

.lien a {
  width: 30%;
  color: #ffffff;
  background-color: #9356DC;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-weight: 300;
  font-size: 10px;
  border-radius: 20px;
  margin-left: 25px;
  padding-bottom: 20px;
  padding: 10px;
}
@media (min-width: 900px) {
  .lien a {
    width: auto;
  }
}

.fonction_title {
  font-weight: 900;
  padding: 15px;
}

@media (min-width: 900px) {
  .fonctions {
    display: flex;
    align-items: center;
  }
}

.fonctionnement {
  padding: 15px;
  width: 90%;
  background: #F6F6F6;
  border-radius: 20px;
  margin: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.fonctionnement .numero {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #F6F6F6;
  position: relative;
  right: 10%;
}
@media (min-width: 900px) {
  .fonctionnement .numero {
    right: 7%;
  }
}
.fonctionnement .maison {
  color: #9356DC;
  margin: 10px;
}
.fonctionnement .phone {
  margin: 10px;
}
.fonctionnement .liste {
  margin: 10px;
}

.restaurant {
  background: #F6F6F6;
  margin-bottom: 20px;
}
@media (min-width: 900px) {
  .restaurant {
    width: 100%;
    margin: auto;
  }
}
.restaurant .restaurant-all {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 900px) {
  .restaurant .restaurant-all {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 30px;
  }
}

.resto {
  padding-left: 15px;
}

.photo-restaurant {
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  width: 92%;
  background: #ffffff;
  border-radius: 10px;
}

.menu {
  width: 95%;
  border-radius: 10px;
}
@media (min-width: 900px) {
  .menu {
    width: 46%;
  }
}
.menu img {
  width: 100%;
  height: 140px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
@media (min-width: 900px) {
  .menu img {
    display: flex;
  }
}
.menu .commentaire {
  background-color: #99e2d0;
  color: #1b6150;
  position: absolute;
  left: 70%;
  margin-top: 10px;
  padding: 5px;
}
@media (min-width: 900px) {
  .menu .commentaire {
    position: relative;
    top: -130px;
    left: 80%;
  }
}
.menu .contenu-photo {
  background: #ffffff;
  width: 100%;
  border-radius: 10px;
}
.menu .contenu-photo .desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu .contenu-photo .desc .desciption {
  color: black;
  font-weight: 500;
}
.menu .contenu-photo .desc .nom {
  color: black;
  font-weight: 300;
}
.menu .contenu-photo .desc .coeur .plein {
  position: relative;
  right: 17px;
  opacity: 0;
}
.menu .contenu-photo .desc .coeur .plein:hover {
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.download {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  animation: loader 3s;
  background: #F6F6F6;
  z-index: -1;
  opacity: 0;
  text-align: center;
}

.arrow {
  display: flex;
  align-items: start;
  cursor: pointer;
  margin: 15px;
}

.titre-resto {
  font-weight: 700;
  font-size: 20px;
  font-family: Shrikhand;
}

main {
  width: 100%;
}

.photo-resto {
  width: 100%;
}
.photo-resto img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media (min-width: 900px) {
  .photo-resto img {
    width: 100%;
  }
}

.menus {
  background-color: #F6F6F6;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  bottom: 30px;
  padding: 10px;
}
@media (min-width: 900px) {
  .menus {
    margin: auto;
    width: 80%;
  }
}
.menus .restos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media (min-width: 900px) {
  .menus .restos {
    display: flex;
    justify-content: center;
  }
}
.menus .restos .coeur {
  width: 20%;
  color: #9356DC;
}
@media (min-width: 900px) {
  .menus .restos .coeur {
    margin-left: 20px;
  }
}
.menus .restos .coeur .plein {
  position: relative;
  right: 17px;
  opacity: 0;
}
.menus .restos .coeur .plein:hover {
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menus .restos .coeur .vide:hover {
  opacity: 0;
}
.menus .trait {
  background-color: #99e2d0;
  width: 10%;
  height: 2px;
  position: absolute;
}
@media (min-width: 900px) {
  .menus .trait {
    width: 3%;
  }
}

.prix-entrees {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.prix-entrees .animation {
  width: 100%;
  height: 50px;
  margin-left: 2%;
  overflow: hidden;
}
.prix-entrees .animation h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prix-entrees .animation .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-top: 5px;
}
.prix-entrees .animation .description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prix-entrees .ok {
  width: 0;
  position: relative;
  left: 70px;
  color: #ffffff;
  background-color: #99e2d0;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding-top: 25px;
}
.prix-entrees:hover > .ok {
  left: 0;
  width: 70px;
  transition-duration: 400ms;
}

.euro {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  align-items: flex-end;
}

.bouton {
  width: 30%;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: #ffffff;
  font-size: 15px;
  border-radius: 20px;
  margin-left: 140px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
@media (min-width: 900px) {
  .bouton {
    width: 15%;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entrees {
  animation: apparition 4s ease 0.5s forwards;
}

.Plats {
  animation: apparition 4s ease 1.5s forwards;
}

.desserts {
  animation: apparition 4s ease 2.5s forwards;
}

.item {
  opacity: 0;
}

h2 {
  font-weight: 200;
  font-size: 15px;
  padding-bottom: 5px;
  color: gray;
  margin-top: 20px;
}

h3 {
  font-weight: 500;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 5px;
}

p {
  font-weight: 200;
  font-size: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
