
    /* ... */
    body{
        font-family:'Roboto','sans-serif';
        width: 100%;
        padding: 0;
        margin: 0;
    }

.reservation{
    width: 100%;
    text-align: center;
    background-color: #F6F6F6;
   padding-bottom: 10px;
.lieu{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
   background: #d9d9d9;
   font-weight: 400;
   padding: 10px;
     .search{ 
        padding-left: 10px;
        background: #d9d9d9;
        border: none;
        color: black;
        font-size: 14px;  
    }
   }

}
    .reserver{ 
    text-align: center; 
    margin: 20px; 
    font-size: 20px;
    @include desktop{
        text-align: center;         
    }
    
     }

     .decouvrir{
        font-size: 15px;
        text-align: center;
        margin: 20px;
    }

    .lien{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .lien a{
        width: 30%;
        color: #ffffff;
        background-color: #9356DC;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        font-weight: 300;
        font-size: 10px;
        border-radius: 20px;
        margin-left: 25px;
        padding-bottom: 20px;
        padding: 10px;
        
      
    }
.fonction_title{
    font-weight: 900;
    padding: 15px;
}

.fonctions{
    //version desktop
    @include desktop{
       display: flex;
       align-items: center;
    }
}

.fonctionnement{
        padding: 25px;
        width: 90%;
        background:#F6F6F6;
        border-radius: 20px;
        margin: 20px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        .numero{
            padding-left:  9px;
            padding-right: 9px;
            padding-top: 6px;
            padding-bottom: 6px;
           border-radius: 50%;
            background-color: #9356DC;
            color: #F6F6F6;
            position: relative;
            right: 14%; 
            @include desktop{
                right: 10%;
            }
        }
        .maison{
            color: #9356DC;
            margin: 10px;
        }
        .phone{
            margin: 10px;
        }
        .liste{
            margin: 10px;  
        }
    }
       .restaurant{
        background: #F6F6F6;
        margin-bottom: 20px;
        @include desktop{
            width: 100%;
            margin: auto;
        }
        
       .restaurant-all{
        width: 100%;
        display: flex;
        align-items:  center;
        flex-direction: column;
        @include desktop{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            gap: 30px;
            
           
           
           } 
        
    }
}
    .resto{
        padding-left: 15px;
    }
        .photo-restaurant{
            display: flex;
            margin: 15px;
            flex-wrap: wrap;
            width: 92%;
            background: #ffffff;
            border-radius: 10px;
            
        }

        .menu{
            width: 95%;
            border-radius: 10px;
                
            @include desktop{
                width: 46%;
               
                  
            }
            img {
                width: 100%;
                height: 140px;
               border-top-left-radius: 10px;
               border-top-right-radius: 10px;
               object-fit: cover;
               @include desktop{
              display: flex;
               
                  
            }
            
            }

            .commentaire{
                background-color: #99e2d0;
                color: #1b6150;
                position: absolute;
               left: 70%;
               margin-top: 10px;
               padding: 5px;
            @include desktop{
                position: relative;
                top: -130px;
                left: 80%;
            }
                
            }
            .contenu-photo {
                background: #ffffff;
                width: 100%;
                border-radius: 10px;
                .desc{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                   .desciption {
                    color: black;
                    font-weight: 500;
                }
                .nom{
                    color: black;
                    font-weight: 300; 
                }
                    .coeur{
                        .plein{
                            position: relative;
                            right: 17px;
                            opacity: 0;
                            &:hover{
                                opacity: 1;
                                background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
                                background-clip: text;
                                -webkit-background-clip: text;
                                color: transparent;
                            }
                        }
                        
                    }  
                    
                }
                
                
            }
          
        }
    .download{
        margin: auto;
        width: 100%;
        height: 100vh;
        position: fixed;
        animation: loader 3s;
        background:#F6F6F6;
        z-index: -1;
        opacity: 0;
        text-align: center;

    }
